{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<p>{{ user.username }}님, 반가워요!</p>
<a href="{% url 'accounts:logout' %}">로그아웃</a>
{% else %}
<a href="{% url 'accounts:signup' %}">회원가입</a>
<a href="{% url 'accounts:login' %}">로그인</a>
{% endif %}
<h1>List</h1>
{% for post in posts %}
    <div>
        <a href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a> | {{ post.content }}
        {% if user not in post.like_users.all %}
        <a href="{% url 'posts:like' post.pk %}">좋아요</a>
        {% else %}
        <a href="{% url 'posts:like' post.pk %}">안좋아요</a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}